@font-face {
  font-family: Roboto-Bold;
  src: url(assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 0px;
  margin: auto;
}

.main-header .container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main-nav {
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-self: center;
  justify-content: center;
  display: flex;
  margin: 1em 0 0.5em;
  text-align: center;
}

.main-nav a {
  font-family: Roboto-Bold;
  justify-content: center;
  width: 80%;
  text-decoration: none;
  color: white;
  display: flex;
  background-color: rgb(127, 194, 247);
  padding: 10px;
}

.build-logo {
  font-family: Roboto-Bold;
  padding-left: 10px;
  color: rgb(243, 156, 18);
  border-top: 5px solid rgb(86, 142, 142);
  border-left: 5px solid rgb(86, 142, 142);
  border-bottom: 5px solid rgb(86, 142, 142);
}
.estate-logo {
  color: rgb(86, 142, 142);
  font-family: Roboto-Bold;
  padding-left: 10px;
}

.read-more {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Roboto-Regular;
  font-size: large;
  letter-spacing: 1px;
  color: white;
  width: 100%;
  height: 250px;
  background-image: url("assets/images/banner3.jpg");
  background-size: cover;
}
.read-more button {
  width: 120px;
  background-color: rgb(51, 105, 230);
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
}
.read-more p {
  padding-top: 60px;
  text-align: center;
  letter-spacing: 3px;
}
.who-we-are-title {
  margin-top: 20px;
  font-family: Roboto-Light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.who-we-are-title h2 {
  margin-bottom: 5px;
}
/*.span-flex {
}*/
.span-l {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 50px;
  margin-right: 10px;
}
.span-m {
  display: inline-block;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.span-r {
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 50px;
  margin-left: 10px;
}
.who-we-are-content {
  font-family: Roboto-Regular;
  font-size: smaller;
  padding: 30px;
  line-height: 20px;
}
.who-we-are-content h3 {
  color: rgb(127, 194, 247);
}
/*.arrow {
  display: inline-block;
  width: 100px;
  height: 73.5px;
  background: #f39c12;
  clip-path: polygon(0 31%, 63.2% 31%, 63.2% 0, 100% 50%, 63.2% 100%, 63.2% 69%, 0 69%);
}*/
.who-are-we-list {
  line-height: 30px;
}
.we-make-your-dream-home {
  margin-top: 20px;
}
.what-people-say-title {
  margin-top: 20px;
  font-family: Roboto-Light;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.what-people-say-title h2 {
  margin-bottom: 5px;
}
.testimony {
  font-family: Roboto-Bold;
  background-color: rgb(127, 194, 247);
  height: 150px;
}
.testimony img {
  margin-right: 20px;
  padding: 3px;
  border: 3px solid white;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
.flex-box {
  align-items: center;
  padding: 20px;
  color: black;
  display: flex;
  flex-direction: row;
}
.flex-box p {
}
.flex-box span {
  margin-bottom: 20px;
}
.lorem {
  padding-left: 20px;
}
